<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NearBy Shops</title>
    <!--Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <!--Leaflet JS-->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
   <!--SET MAP HEIGHT-->
  <style media="screen">
    #mapid {height:500px;}
  </style>
  </head>
  <body>
    <h1>Nearby Shops</h1>
    {% if shops %}
    <ul>
    {% for shop in shops %}
      <li>
      {{ shop.name }} : {{ shop.distance }}
      </li>
    {% endfor %}
    </ul>
    {% endif %}
     <div id="mapid"></div>
     <script type="text/javascript">
       var map = L.map('mapid').setView([47.611080, -122.329790], 17);

       L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
       }).addTo(map);

       L.marker([47.611080, -122.329790]).addTo(map)
    .bindPopup('I am in Seattle.<br> Looking for shops.')
    .openPopup();


    {% for shop in shops %}
    var circle = L.circle([{{ shop.location.y }}, {{ shop.location.x }}], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 5
  }).addTo(map);
  {% endfor %}
     </script>
  </body>
</html>
